@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
    --app-bg-overlay: rgba(255, 255, 255, 0.78);
}

.dark{
    --app-bg-overlay: rgba(2, 6, 23, 0.78);
}

.app-background {
    min-height: 100vh;
    background-image: linear-gradient(var(--app-bg-overlay), var(--app-bg-overlay)), url("/images/heritage-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}